<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Global Conferences Hub</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Join us at our global conferences to connect, learn, and grow. Engage with industry leaders, expand your knowledge, and network with professionals from around the world.</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z" clip-rule="evenodd"/>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">5K</h2>
          <p class="leading-relaxed">Participants</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">3K</h2>
          <p class="leading-relaxed">Speakers</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M3 18v-6a9 9 0 0118 0v6"></path>
            <path d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">200</h2>
          <p class="leading-relaxed">Sessions</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.37 7.657c2.063.528 2.396 2.806 3.202 3.87 1.07 1.413 2.075 1.228 3.192 2.644 1.805 2.289 1.312 5.705 1.312 6.705M20 15h-1a4 4 0 0 0-4 4v1M8.587 3.992c0 .822.112 1.886 1.515 2.58 1.402.693 2.918.351 2.918 2.334 0 .276 0 2.008 1.972 2.008 2.026.031 2.026-1.678 2.026-2.008 0-.65.527-.9 1.177-.9H20M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">50</h2>
          <p class="leading-relaxed">Countries</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-8 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Explore Global Conferences</h1>
        <p class="mb-1 leading-relaxed">Discover conferences from around the world covering a wide range of topics. Join industry experts, thought leaders, and innovators in insightful discussions and networking opportunities.</p>
      </div>
    </div>
    <div class="container px-5 py-15 mx-auto flex flex-wrap justify-center">
      <div *ngFor="let conference of conferences" class="lg:w-1/3 md:w-1/2 p-4">
        <div class="h-full border-2 border-gray-800 bg-gray-800 bg-opacity-40 p-6 rounded-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">
          <img class="w-full h-60 object-cover object-center mb-6 rounded-lg" [src]="conference.image" alt="conference">
          <h2 class="text-lg text-white font-medium title-font mb-4">{{ conference.name }}</h2>
          <p class="text-sm text-gray-400">{{ conference.date }}</p>
          <p class="text-sm text-gray-400">{{ conference.location }}</p>
          <p class="leading-relaxed text-base mt-2">{{ conference.description }}</p>
          <button (click)="redirectToConferenceDetails(conference.id)" class="mt-4 text-yellow-500 inline-flex items-center">Learn More</button>
        </div>
      </div>
    </div>
  </section>
  