<section class="text-gray-400 bg-gray-900 body-font">
  <div class="flex flex-col text-center w-full mb-20">
    <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">GLOBAL ALLIANCES</h2>
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Valued Partners</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are proud to collaborate with a diverse network of partners from around the world. These alliances enable us to host impactful conferences that drive innovation, foster connections, and create opportunities for growth across various industries.</p>
</div>
    <div class="container px-5 py-15 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-white">
          Our Partners
        </h1>
      </div>
      <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">
                Company
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
                Trademark
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
                Sponsorship
              </th>
              <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
                Go to Website
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let partner of partners">
              <td class="px-4 py-3">{{ partner.prt_company }}</td>
              <td class="px-4 py-3">
                <img [src]="partner.prt_trademark" [alt]="partner.prt_company + ' Logo'" width="100">
              </td>
              <td class="px-4 py-3">{{ partner.prt_sponsor | uppercase }}</td> 
              <td class="px-4 py-3 text-lg text-white">
                <a [href]="partner.prt_website" class="text-blue-500" target="_blank">{{ partner.prt_website }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  